In [141]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [142]:
df = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-2/master/CaseStudy/Advertising.csv',index_col=0)
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

*Observations* :
- There are no missing values
- There are around 200 rows in the dataset and 5 columns, since from Dtype, all of the data is numerical
- Since there are no categorical values, we don't need any conversion, w.r.t dummy variables

In [144]:
df.describe(include="all")

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [145]:
df.columns

Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [146]:
features=['TV', 'radio', 'newspaper']
score = ['sales']

In [147]:
#Lets split the data now
from sklearn.model_selection import train_test_split

x=df[features]
y=df['sales']

#### IMP Notes :
- When you are splitting the data, you have to have the X,Y for both Train and Test as mentioned below
- Even if you mess up (meaning interchange the X and Y, confirm the same by printing them as mentioned below
- *Another most important logic is that, when you provide the "y,x" in train_test_split() func, then you would get the o/p also in teh same format, meaning in Y_train and then X_train format*

In [166]:
Y_train,Y_test,X_train,X_test= train_test_split(y,x,test_size=0.2,random_state=1)

#### The fit() method would be used basically for training the dataset

In [167]:
from sklearn.linear_model import LinearRegression

lin_model=LinearRegression()
Y_train_pred=lin_model.fit(X_train,Y_train)
print(Y_train_pred)
Y_test_pred=lin_model.fit(X_test,Y_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### IMP Notes
- As mentioned in the IMP Notes, Its better to check the X and Y variables, since we know that the dependent variable always have column and independent can have 1 or more, its easier to Interpret.
- As we could see the o/p from fit() function, its the Lin reg model. Now, we have to use this o/p model(Y_train_pred & Y_test_pred) and then start predicting for the actual Test values

In [168]:
Y_test

59     23.8
41     16.6
35      9.5
103    14.8
185    17.6
199    25.5
96     16.9
5      12.9
30     10.5
169    17.1
172    14.5
19     11.3
12     17.4
90     16.7
111    13.4
119    15.9
160    12.9
36     12.8
137     9.5
60     18.4
52     10.7
17     12.5
45      8.5
95     11.5
32     11.9
163    14.9
39     10.1
29     18.9
194    19.6
28     15.9
48     23.2
166    11.9
195    17.3
178    11.7
177    20.2
98     15.5
175    11.5
74     11.0
70     22.3
173     7.6
Name: sales, dtype: float64

In [169]:
X_test

        TV  radio  newspaper
59   210.8   49.6       37.7
41   202.5   22.3       31.6
35    95.7    1.4        7.4
103  280.2   10.1       21.4
185  253.8   21.3       30.0
199  283.6   42.0       66.2
96   163.3   31.6       52.9
5    180.8   10.8       58.4
30    70.6   16.0       40.8
169  215.4   23.6       57.6
172  164.5   20.9       47.4
19    69.2   20.5       18.3
12   214.7   24.0        4.0
90   109.8   47.8       51.4
111  225.8    8.2       56.5
119  125.7   36.9       79.2
160  131.7   18.4       34.6
36   290.7    4.1        8.5
137   25.6   39.0        9.3
60   210.7   29.5        9.3
52   100.4    9.6        3.6
17    67.8   36.6      114.0
45    25.1   25.7       43.3
95   107.4   14.0       10.9
32   112.9   17.4       38.6
163  188.4   18.1       25.6
39    43.1   26.7       35.1
29   248.8   27.1       22.9
194  166.8   42.0        3.6
28   240.1   16.7       22.9
48   239.9   41.5       18.5
166  234.5    3.4       84.8
195  149.7   35.6        6.0
178  170.2    7.8       35.2
177  248.4   30.2       20.3
98   184.9   21.0       22.0
175  222.4    3.4       13.1
74   129.4    5.7       31.3
70   216.8   43.9       27.2
173   19.6   20.1       17.0

### Let's see what is the error MAE/MSE and R2

#### IMP Notes :
- Now, while predictng, we have to use the independent "X_train" variables and get the o/p "y_pred_train"

In [185]:
y_pred_train=Y_train_pred.predict(X_train)
y_pred_test=Y_test_pred.predict(X_test)
y_pred_train.shape

(160,)

#### IMP Notes :
- Now, we could calculate the error, as we know, its basically the (actual - predicted) values

In [193]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

mean_absolute_error(Y_train,y_pred_train)

1.3692521352236375

In [194]:
mean_absolute_error(Y_test,y_pred_test)

0.8452345815359891

In [195]:
TV = float(input("Enter the Budget for TV ads"))
Newspaper = float(input("Enter the Budget for Newspaper ads"))
Radio = float(input("Enter the Budget for Radio ads"))

Enter the Budget for TV ads

ValueError: could not convert string to float:

In [196]:
data = [[TV,Radio,Newspaper]]
print(data)
data1=[[210.8,49.6,37.7]]
Y_test_pred.predict(data)

[[230.1, 37.8, 69.2]]

array([20.54179961])

y = 0.00116 + 0.7708 * TV + 0.508 * radio + 0.010 * newspaper

0.00116 + 162.48 + 19.15 + 0.496

230.1 	37.8 	69.2

  TV     R       N
  
177.36   19.20   0.692