In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/insaid2018/CDF-Certification-Quiz-Data/master/Abalone/02-Data.csv')
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Adult
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,1
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,0
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,1
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,1
4,M,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,0

In [11]:
data=data.drop(['Sex'],axis=1)

In [13]:
data.columns

Index(['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Adult'],
      dtype='object')

In [15]:
X=data.loc[:,data.columns!='Adult']
X

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
6,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.3300
7,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.2600
9,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.3200
10,0.525,0.380,0.140,0.6065,0.1940,0.1475,0.2100
...,...,...,...,...,...,...,...
4165,0.405,0.300,0.085,0.3035,0.1500,0.0505,0.0880
4166,0.475,0.365,0.115,0.4990,0.2320,0.0885,0.1560
4168,0.515,0.400,0.125,0.6150,0.2865,0.1230,0.1765
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960

In [16]:
Y=data['Adult']
Y

2       1
6       1
7       1
9       1
10      1
       ..
4165    0
4166    1
4168    0
4172    1
4175    1
Name: Adult, Length: 1964, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=3)

In [23]:
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression()

log_reg.fit(X_train,Y_train)

y_pred_train=log_reg.predict(X_train)
y_pred_test=log_reg.predict(X_test)

In [25]:
from sklearn.metrics import mean_squared_error
mean_squared_error(Y_train,y_pred_train)

0.17248908296943233

In [26]:
mean_squared_error(Y_test,y_pred_test)

0.1694915254237288

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,y_pred_test)

0.8305084745762712